# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook metadata
*.nbconvert.ipynb

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environment variable files
.env
*.env

# Log files
*.log

# Data files
data/

# Output and cache
*.out
*.bak
*.tmp
.cache/
